/*
    Ghodex: A Phasmophobia Fanmade Journal App
    Ver 5.0.0
    by copperlightning
    style.css
/*

/* This is a mobile-first layout! */

@import url('https://fonts.googleapis.com/css2?family=Lato&family=Shadows+Into+Light&display=swap');

* { /* all */
    margin: 0;
    padding: 0;
    text-align: center;
    width: 100%;
    margin: auto;
    color: #111;
}

html {
	background-color: black;
    background-image: linear-gradient(black, #410d0f);
    overflow-x: hidden; /* hide horizontal scrollbar */
}

body {
    background-image: url(images/bg_sm.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    font-family: 'Lato', sans-serif;
    position: fixed;
}

html, body, #wrapper {
    height: 100vh;
}

/* html/body are fixed so that bg doesn't pop w/ address bar */
/* however, this element still scrolls! */
#wrapper {
    max-width: 100%;
    margin: auto;
    min-width: 250px;
    overflow: auto;
    scroll-behavior: smooth;
}

.button {
    border-radius: 10px;
    width: 80px;
    height: 80px;
    margin: 5px;
}

#button_tray {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    margin-bottom: 20px;
}

.button p {
    display: none;
}

.button img { /* button crossout line */
    opacity: 0;
}

figcaption {
    font-weight: bold;
    padding-top: 10px;
}

.button {
    background-repeat: no-repeat;
    background-position: center;
    background-size: 70px;
    padding: 5px;
    opacity: 0.25; /* grayed out by default */
    border: 4px solid #111;
    margin-bottom: 45px
}

#fingerprints {
    background-image: url(images/icon_fingerprints.png);
}

#ghostWriting {
    background-image: url(images/icon_ghostwriting.png);
}

#ghostOrb {
    background-image: url(images/icon_ghostorb.png);
}

#emf5 {
    background-image: url(images/icon_emf5.png);
}

#freezingTemps {
    background-image: url(images/icon_freezingtemps.png);
}

#spiritBox {
    background-image: url(images/icon_spiritbox.png);
}

#dots {
    background-image: url(images/icon_dots.png);
}

.crossed { /* evidence that's been matched */
    text-decoration: line-through;
    color: rgba(0, 0, 0, 0.25);
}

.circled {
    background-image: url(images/circle2.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

#header {
    padding: 10px 0;
}

#display {
    margin-bottom: 20px;
}

.ghost {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

#placeholder { /* shows when no ghost results */
    display: none;
}

#placeholder .description {
    display: block;
    padding-left: 0; /* i don't know why this has left padding, but now it doesn't */
}

#results {
    padding-top: 0px;
    padding-bottom: 10px;
}

.ghost, #results, #placeholder { /* red line between entries */
    border-bottom: 4px solid #111;
}

.evidence1, .evidence2, .evidence3 {
     line-height: 45px;
}

.name, #header h1, .attTitle {
    font-size: 2.5em;
    font-family: 'Shadows Into Light', cursive;
    font-weight: bold;
}

.name {
    padding: 5px 0px;
}

.evidence1, .evidence2, .evidence3 {
    line-height: 30px; /* how tall cell is */
    border-top: 2px solid #222;
}

.description {
    display: none;
    padding: 5px 10px 10px 10px;
    border-top: 2px solid #222;
}

#results, .evidence1, .evidence2, .evidence3, .description {
    font-weight: bold;
    font-size: 1.25em;
}

.description span, #results p, footer {
    font-size: 0.85em;
}

.description span {
    display: block;
    width: 85%;
}

.description .strength {
    padding-bottom: 10px;
}

#results span {
    display: inline;
    font-weight: bold;
}

#results p {
    padding-top: 5px;
}

#footer, #header span {
    font-size: 1.1em;
    padding-bottom: 20px;
    font-weight: bold;
}

#btnScroll {
    background-color: #A33232;
    background-image: url(images/arrow_up.png);
    background-repeat: no-repeat;
    background-position: center;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.25);
    padding: 10px 0px;
    position: fixed;
    width: 40px;
    height: 50px;
    bottom: 30px;
    left: 0px;
    display: none;
    transition: bottom 0.25s; /* smoov hover anim */
    border-radius: 0 10px 10px 0;
}

#btnScroll:hover {
    bottom: 35px;
}

.available { /* for available buttons */
    opacity: 1;
}

#attributions {
    border-bottom: 4px solid #111;
    padding-bottom: 20px;
    display: none;
}

.attClick {
    text-decoration: underline;
}

#footer {
    margin-bottom: 40px;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
*            RESPONSIVE DESIGN
*  ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* Larger phones, smaller tablets */
@media only screen and (min-width: 600px) {
    .button {
      width: 100px;
      height: 100px;
    }
    
    .button {
        background-size: 90px;
    }
    
    #button_tray {
        width: 80%;
    }
}


/* Laptops, desktops, larger tablets, etc*/
@media only screen and (min-width: 992px) {
    body {
        background-image: url(images/bg_lg2.jpg);
        margin: auto;
    }
    
    #display, #footer {
        width: 80%;
        max-width: 1300px;
        min-width: 1000px;
    }
    
    #btnScroll {
        bottom: 0px;
        left: 600px;
        width: 80px;
        border-radius: 10px 10px 0 0;
    }
    
    #btnScroll:hover {
        bottom: 0px;
    }
    
    .description span {
        width: 50%;
        max-width: 700px;
    }
}
